/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		  url('../fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		  url('../fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/roboto-v27-latin-500.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/roboto-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/roboto-v27-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 
/*service block-start  */
.parents-containers{
	text-align: center;
	height: 630px;
	width: 1440px;
	margin: auto;
}
.pro{
	height: 47px;
	width: 306px;
	margin: 5em auto 2em;
	text-align: center;
}
.container{
	height: 550px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.box-support,.box-communication,.box-book,.box-reviews{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
}
.box-support{
	width: 296px;
	height: 176px;
}
.box-communication{
	width: 296px;
	height: 178px;
	margin: 0px 10px;
}
.box-book{
	width: 296px;
	height: 184px;
}
.box-reviews{
width: 296px;
height: 183px;
}
.text-container{
padding: 0;
margin: 0;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
}
.title-text{
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 47px;
margin-top: 5px;
}
.pro{
margin-bottom:5px ;
}
.scroll{
padding-bottom: 45px;
}
.img-support{
padding-top:3px ;
}
.img-communication{
padding-top:5px ;
}
.img-book{
padding-top: 15px;
}
.img-reviews{
padding-top: 2px;
}
/*choice of places of rest-сontainer-start*/
.container-info{
height: 928px;
width: 1440px;
border: 1px solid #EAF0F9;;
margin: auto;
background: #EAF0F9;
display: flex;
flex-direction:column;
align-items: center;
}
.title-h1{
text-align: center;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 47px;
margin-top:32%;
height: 200px;
width: 450px;
}
.content-box{
height: 700px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
	
}
.info-images{
	margin: 0px 7px;
	border: 1px solid #EAF0F9;
}
.text-info{
 font-family: Roboto;
 font-size: 24px;
 font-style: normal;
 font-weight: 400;
 line-height: 28px;
 color: #3077C6;
}
.text-infof{
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: #BFBFBF;
}
.info-images{
	height: 435px;
	width: 296px;
}

/*destinations-start-- в процессе*/
.destinations-container{
height: 958px;
width: 1440px;
margin: auto;
}

.title-text{
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 47px;
text-align: center;
margin-top: 5%;
}
.box-regions{
display: flex;
align-items:center ;
justify-content: center;
}
.regions-style{
width: 192px;
height: 64px;
display: flex;
align-items:center ;
justify-content: center;
background:#F3F3F4;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: black;
}
.regions-style:hover{
border-radius: 10px;
background:#3077C6;
color: #ffff;
}
.container-country{
display: flex;
align-items:center;
justify-content: start;
margin-left: 8%;
}
.box-regions{
margin-top: 7%;
}
.box-city{
display: flex;
justify-content:center ;
align-items:center;
margin-top: 5%;
}
.box-images{
margin-left: 10px;

}

.city-text{
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color:#3077C6;
}
.class-navigation{
	text-align: center;
	z-index: 1;
}

/*footer-start--*/
.podwall{ 
height:630px;
width: 1440px;
background:#10367C;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
flex-wrap:wrap;
	}
.container-footer{
display: flex;
align-items: flex-start;
justify-content: space-between;
width: 70%;
max-height: 27%;
margin-right: 15%;
	
	}
	.list {
color:#ffff;
list-style: none;
margin-top:0 ;
padding-left:0 ;
line-height: 45px;
font-size: 20px;
font-style: normal;
font-weight: 400;
font-family: Roboto, sans-serif;
	}

	.copy-string{
width: 100%;
margin-left: 8%;
color: #ffff;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
	}
	