/* roboto-regular - latin (text- word */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		  url('../fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		  url('../fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/roboto-v27-latin-500.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/roboto-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/roboto-v27-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
 }

 body{
	 font-family: Roboto;
	 font-style: normal;
		margin-right: 0;
		margin-left: 0 ;	
 }
 a{
	text-decoration: none;
	color:white;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
 }
 	footer{
	margin: 0 auto;	
 	}
 .wrapper{	 
	background-image: url("../img/castelmezzano-1979546 1.png");
	max-width: 1440px;
	background:cover;
	background-size: cover;
	box-sizing: border-box;
	background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    color: #ffffff;
	 padding: 2% 5%;
	 margin: 0 auto;
 }
 .header_logo_navigation{
	display: flex;
	justify-content: space-between;
	text-align: center;	
 }
 .logo_trip_house{
	width: 170px;
	height: 50px;
}
 .header_navigation{
	display: flex;
	text-decoration: none;
	align-items: center;
}
.header_link{
font-size: 24px;
font-style: normal;
font-weight: 400;
text-align: center;
}
.link_attractions{
	margin-left: 15px;	
}
.link_stays{
	position: relative;
}
.link_stays:after{
	content:"";
	background-color:orange;
	position: absolute;
	width: 100%;
	height: 5px;
	top: 135%;
	left:0%;
	color: #ffff;
	display: none;
	border-radius: 8px;
}
.link_stays:hover::after{
	display: block;
	}
.link_attractions{
	position: relative;
}
.link_attractions::before{
	content:"";
	background-color:orange;
	position: absolute;
	width: 100%;
	height: 5px;
	top: 135%;
	left:0%;
	color: #ffff;
	display: none;
	border-radius: 8px;
}

.link_attractions:hover::before{
	display: block;
	}
	.night_icon{
		position: relative;
	}
	.night_icon::before{
		content:"";
		background-color:orange;
		position: absolute;
		width: 100%;
		height: 5px;
		top: 135%;
		left: 7%;
		color: #ffff;
		display: none;
		border-radius: 8px;
	}
	.night_icon:hover::before{
		display: block;
		}
		.profile_icon{
			position: relative;
		}
		.profile_icon::before {
		content:"";
		background-color:orange;
		position: absolute;
		width: 100%;
		height: 5px;
		top: 114%;
		left:5%;
		color: #ffff;
		display: none;
		border-radius: 8px;
		}
		.profile_icon:hover::before{
			display: block;
			}

			.arrow_adaptic{
				display: none;
			}

/* night_icon,circle_icon*/
.profile_icon, .night_icon{
	display: block;
	margin-left: 5px;
}
/* night_icon,profile_icon*/
[src="LinkedSprite.svg#src-3"]{
	width: 25px;
	height: 27px;
}
[src="LinkedSprite.svg#src-4"]{
	width: 35px;
	height:35px;
}

.header_burger{
	display: none;
}
/*new input section*/
.section_search{
	width: 100%;
	margin-top: 16%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
h1{
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	color:#fff;
	margin: 0px 0 10% 0;
 }
 .label{
	flex-basis: 40%;
	margin-bottom: 20px;
	margin-left: 10px;
	color:white;
	font-size: 18px;
	font-weight: 400;
}
.section_label {
	display: flex;
}
.form_input{
	display: flex;
	width: 100%;
	border-radius:8px ;
	height: 65px;
	background-color:white;
	margin: 0 0 3% 0;
}
	/*search data entry*/
.input-text{
	flex-basis: 46%;
	border:none ;
	border-radius:8px ;
}.input-data{
	flex-basis: 26%;
	border:none ;
	border-radius:8px ;
} .input_check{
	flex-basis: 26%;
	border:none ;
	border-radius:8px ;
}
.input-text:hover,.input-data:hover,.input_check:hover{
	border: 3px solid orange;
	background-color: #F3F3F4;
	outline: none;
}
.submit{
	text-decoration: none;
	background: #3077C6;
	border: none;
	min-width: 192px;
	border-radius:7px ;
	color:white;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
}
.section_icon{
	max-width: 1223px;
	display: flex;
	justify-content: center;
	margin:0 auto;
}
.google-store-icon{
	width: 135px;
	position: relative;
	margin-right: 2%;
	}
.apple-icon{
	width: 118px;
	 height: 40;
	 position: relative;
	 
	}
	.google-store-icon::before{
		content:"";
		background-color:orange;
		position: absolute;
		width: 80%;
		height: 5px;
		top: 70%;
		left:23%;
		color: #ffff;
		border-radius: 8px;
		display: none;
	}
	.apple-icon::before{
		content:"";
		background-color:orange;
		position: absolute;
		width: 80%;
		height: 5px;
		top: 70%;
		left:23%;
		color: #ffff;
		border-radius: 8px;
		display: none;
	}
	.apple-icon:hover::before{
		display: block;
	}
	.google-store-icon:hover::before{
		display: block;
	}
/*What do we offer*/
.title_offer{
	text-align: center;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	padding-bottom: 10%;
	position: relative;
	}
	.title_offer:after{
	content:"";
	background-color:orange;
	position: absolute;
	width: 10%;
	height: 5px;
	top: 50%;
	left:45%;
	border-radius: 8px;
	color: #ffff;
	}
.container_body{
	text-align: center;
	padding: 50px 5%;
	max-width: 1440px;
	margin: auto;
	}
	.container_services{
	display: flex;
	justify-content: space-around;
	}
	.container_item_services{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 296px;
	text-align: center;
	}
	.item_services{
	width: 75px;
	height: 91px;
	margin-bottom: 60px;
	}
	.text_services{
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	margin: 0;
	}
	.container_homes_guests{
		max-width: 1440px;
		margin: 0 auto;
		box-sizing: border-box;
		background-color: #EAF0F9;
		padding: 50px 6%;
	}
	.container_apartments{
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 15%;
		box-sizing: border-box;
		position: relative;
	}
	.item_apartaments{
		width: 296px;
		position: relative;
		margin: 0 5px;
	}
	.name_apartaments{
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0em;
		color: #3077C6;
		box-sizing:border-box;
	}
	.location_apartaments{
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		color: #BFBFBF;
	}
	.navigation_element{
		left: 95%;
		position:absolute;
		transform: rotate(270deg);
	}
	/*best_destinations*/
	.best_destinations{
		max-width: 1440px;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 50px 6% 0 6%;
	}
	.title_homes_guests{
		text-align: center;
		font-size: 40px;
		font-weight: 500;
		padding:  1% 0 3% 0;
	}
	.title_destinations{
		font-size: 45px;
		font-weight: 500;
		text-align: center;
	}
.img_apartaments{
	display: flex;
	justify-content: center;
	align-items:center;
	z-index: 10;
	position: relative;
}
.img_apartaments:hover{
	opacity: 0.5;
}
	.book_now{
		position: absolute;
		width: 135px;
		height: 48px;
		border: 1px solid #3077C6;
		border-radius: 8px;
		background-color: #FFFFFF;
		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
		color: #3077C6;
	}
	.button_nav{
	text-decoration: none;
	width: 220px;
	height: 64px;
	background:#3077C6;
	border-radius:8px;
	font-size: 24px;
	font-weight: 400;
	color: #ffff;
	border: none;
	display: inline;
	}
	
	.button_nav:hover{
		border: 2px solid orange;
	}
	.container_buttoms{
		display: inline-flex;
		background-color:#F3F3F4;
		border-radius: 8px;
		margin-bottom: 64px;
		margin-left:5px ;
	}
	.cities_button, .interest_button{
		background: #F3F3F4;
		color: black;
	}
	.arrow{
		text-align: center;
		margin: 7% 0;
	}
	/*форма регистрацииб внизу*/
	.container_registration{
		background-color:#EAF0F9;
		display: flex;
	}
	
	/*регистрация внизу*/
	.container_registration{
		padding: 15px 0 3em 0;
		
	}
	/*текст скидки и кнопка*/
	.container_button_discount, .user_avatar{
		margin: 0 3%;
	}
	/*текст скидки формы регистрации*/
	.discount_registration{
	 font-size: 24px;
	 font-weight: 500;	
	}
	/*кнопка формы регистрации*/
	.button_registration{
	 height: 48px;
	 width: 128px;
	 border-radius: 8px;
	 border: 1px solid #3077C6 ;
	 background-color:#fff;
	 color:#3077C6;
	}
	/*гости-отзывы*/
	.guests_reviews{
		max-width: 1440px;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 100px 6%;
	}
	/*название заголовка контейнера*/
	.title_guests{
		font-size: 45px;
		font-weight: 500;
		text-align: center;
		align-items: center;
		padding: 0 0 6% 0;
	}
	.small_display{
		display: none;
	}
	/*контейнер для отзывов*/
	.container_opinions{
		display: flex;
		justify-content: space-evenly;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.img_room{
		position: relative;
	}
	/*цена хостела*/
	.price_text{
		position:absolute;
		bottom:  1%;
		font-size: 18px;
		font-weight: 500;
		color: #FFFFFF;
		padding: 0 5%;
		background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 48px;
		margin: 0;
		box-sizing: border-box;
	}
	/*имя хостела*/
	.name_hostel{
	font-size: 18px;
	font-weight: 500;
	color: #3077C6;
	}
	/*страна хостела*/
	.country_hostel{
	font-size: 18px;
	font-weight: 400;
	color: #3077C6;
	}
	/*элемент отзыва*/
	.container_guests{
		background-color:#EAF0F9;
		max-width:400px;
		position: relative;
		margin: 25px 5px;
	}
	/*название страны/хостела*/
	.name_location{
		display: flex;
		justify-content: space-between;
	}
	/*отзывы и счетчик отзывов*/
	.review_score{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	/*счетчик отзывов*/
	.number_reviews{
	font-weight: 400;
	line-height: 16px;
	color: #BFBFBF;
	}
	.score_profile{
		width: 48px;
		margin-top: 1em;
	}
	/*общий контейнер нижней части*/
	.reviews_container{
		padding: 0 5%;
	}
	.user_reviews{
		display: flex;
		padding: 5px 0;
		margin: 1em 0;
		align-items: center;
	}
	.user_name{
		display: block;
		margin-bottom: 10%;
	}
	.user{
		margin-left: 5%;
	}
	.reviews{
		text-align: start;
		font-family: Roboto;
		font-size: 18px;
		font-weight: 400;
	}
	/*навигация*/
	.nav_page{
		position: absolute;
		top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
		  position: static;
	}
	/*footer*/
	footer{
	padding: 100px 10%;
	background-color:#10367C;
	max-width: 1440px;
	box-sizing: border-box;
	}
	  .container_list{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10%;
	}
	.heading_list_information{
	font-weight: 500;
	font-size: 22px;	
	}
	ul{
	list-style-type: none;
	padding: 0;
  }
  li{
	margin-top: 25px;
}
	.copy_string{
	color:white;
	font-size: 14px;
	font-weight: 400;
}
.footer_company_logo{
	display: none;
}
.mobile_version{
	display: none;
}
.item_navigation{
	display: none;
}
.item_nav{
	position: absolute;
	top:100%;
}
.navigation{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 28px 0 40px 0;
	display: none;
}

@media( max-width : 1280px){
		.img_hotel_leopold,
	 	.img_apartment_sunshine,
		.img_villa_kunerad, 
	  	.img_hostel_friendship,
		.img_maldives,
		.img_spain,
		.img_norway,
		.img_island
		{
		width: 100%;
	}
	.img_hotel{
		width: 100%;
	}
	.container_guests{
		width: 50%;
	}
	.text_services{
		font-size: 20px;
	}
}

@media( max-width : 1024px){
	.text_services{
		font-size: 18px;
	}
	.there_guests{
		display: none;
	}
	.container_homes_guests{
		padding: 0 5%;
	}
	.best_destinations{
		padding: 0 5%;
		
	}
	.navigation_element{
		left: 90%;
	}
	
	.book_now{
		font-size: 12px;
		width: 100px;
		height:30px;
		border-radius:5px;
	}
}
@media ( max-width:768px){
		/*first page project trip_house*/
		.wrapper{
		width: auto;
	  background-position: 88% 100%;
	  background-size: cover;
		}
		.logo_trip_house{
		width: 121px;
		}
		.header_link{
		display: none;
		}
		.header_burger:before{
		top: 0;
		}
		.header_burger:after{
			bottom: 0;
		}
		.header_burger span{
		position: absolute;
		background-color:white;
		left: 0;
		width: 100%;
		height: 2px;
		top:9px;
		}
		.header_burger:before,
		.header_burger:after{
		content:"";
		background-color:white;
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		color: #ffff;
		}
		.profile_icon, .night_icon{
		display: block;
		margin-left: 3px;
		}
		.header_burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		margin-left: 20px;
		}
	
		.section_label{
		display: none;
		}
		.input-text,.input-data,.input_check, .submit{
		border: 7px solid orange;
		font-size: 15px;
		padding: 2% 0;
		text-align: center;
		border-radius: 10px;
		}
		.form_input {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		height: inherit;
		box-sizing: border-box;
		text-align: center;
		background-color:orange;
		border-radius:0;
		}
		.submit[type=submit]{
			font-size: 25px;
		}	
		.google-store-icon::before{
		left:12%;
		}
		.apple-icon::before{
		left:12%;
		}
		h1{
		font-size: 30px;
		}
	 /*Сontainer_service trip_house*/
	 .container_services{
		flex-wrap: wrap;
			}
	.container_item_services{
		width:50%;
		margin-top: 10%;
	}
	.item_services{
		width: 53px;
		height: 65px;
		margin-bottom: 30px;
	}
	 /*Сontainer_service homes_guests*/
	 .title_homes_guests{
		font-size: 35px;
	}
	.name_apartaments,.location_apartaments{
		font-size: 17px;
	}
	/*navigation elementss*/
	.item_navigation{
		display: block;
		left: 95%;
	}
	.item_nav{
		display: none;
	}
	.nav{
		width: 25px;
	}
 /*Сontainer_service best_destinations*/
 	.button_nav{
	 width: 198px;
	 height: 45px;
	 font-size: 20px;
	 border: 1px solid #F3F3F4;
	 line-height: 40px;
	 overflow: hidden;
	 margin-bottom: 132px;
	 margin: 0 2%;
	 }
	.interest_button{
		width: 198px;
		background-color:white;		
	}
	.cities_button{
		background-color:white;	
	}
	.book_now{
		font-size: 18px;
		width: 125px;
		height: 42px;
		border-radius:5px;
	}
	.second_guests{
		display: none;
	}
	.number_reviews{
		font-size: 12px;
	}
	.reviews,.country_hostel{
		font-size:15px ;
	}
	.name_hostel{
		font-size: 17px;
	}
	.score_profile{
		width: 40px;
		height: 27px;
	}
	/*Section guests_reviews*/
	.guests_reviews{
		padding: 0 5%;
	}
	.small_display{
		display: block;
		font-size: 28px;
		font-weight: 500;
		text-align: center;
		align-items: center;
		padding: 30px 0 20px 0;
	}
	.title_guests{
		display: none;
	}
	.apartaments_first,.apartaments_second{
		display: none;
	}
	.there_guests{
		display: block;
	}
	.container_buttoms{
		background-color:#FFFFFF;
		display: flex;
		justify-content: center;
	}
	.button_nav{
		
	}
	/*Section mobile version*/
	.close, .mobile_triphouse{
		padding: 0 12px 0px 0;
	}
	.text_booking{
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	padding: 0 8px 0px 0;
	}
	.install_app{
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color:#3077C6;
	}
	/*Section footer*/
	.footer_company_logo{
		width: 100%;
		display: inline;
		}
	.container_copy_string{
		text-align: center;
	  }
	  .footer_company_logo{
		display: none;
	}
	.link_information{
		font-size: 15px;
	}
}
@media( max-width:600px){
	.navigation{
		display: flex;
		justify-content: center;
		margin: 0 auto;
		padding: 10px 0 20px 0;
	}
	.mobile_version{
		display: block;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 25px 20px;
	}
	.container_registration{
		display: none;
	}
	.there_guests{
		display: none;
	}
	.container_guests{
		width: 100%;
	}
	.price_text{
		display: none;
	}
	.reviews_container{
		 padding: 0 ;
	}
	.title_destinations{
		font-size: 30px;
	}
	.guests_reviews{
		background: #EAF0F9;
	}
	.button_nav{
		font-size: 18px;
		padding: 5px 5px;
		border-radius:5px;
	}
	.text_services{
		font-size: 16px;
	}
	.title_offer{
		font-size: 35px;
	}
	.text_services{
		font-size: 18px;
	}
	.link_information{
		font-size: 14px;
	}
	.heading_list_information{
		font-size: 17px;
	}
	.container_list{
		text-align: center;
	}
	footer{
		padding: 5% 5%;
		margin: 0 auto;
	}
	.title_homes_guests{
		font-size: 35px;
	}
	.container_homes_guests{
		padding: 0 5%;
	}
	.name_apartaments,.location_apartaments{
		font-size: 17px;
	}
	.circle_nav_mal{
		left: 90%;
		top: 22%;
		position:absolute;
		transform: rotate(270deg);
	}
}
@media( max-width:480px){
	.button_nav{
		height: 45px;
		width: 98px;
		font-size: 19px;
	}
	.interest_button{
		width: 85px;
		line-height: 41px;
	}
	.book_now{
		display: none;
	}
	.item_navigation{
		left: 93%;
	}
	.footer{
		padding: 0 10%;
	}
	.best_destinations{
		padding: 0 5%;
	}
	.container_registration{
		display: none;
	}
	.title_destinations{
		font-size: 25px;
	}
	.container_registration{
		display: none;
	}
	.title_offer{
		font-size: 35px;
		padding:0 ;
		margin-top: 5px;
	}
	.title_offer:after{
		content:"";
		background-color:orange;
		position: absolute;
		width: 20%;
		height: 5px;
		top: 70%;
		left:40%;
		color: #ffff;
		display: none;
		}
	.text_services{
		font-size: 17px;
	}
	.heading_list_information{
		font-size: 18px;
	}
	.link_information{
		display:none;
	}
	.footer_company_logo{
		display: block;
	}
	.heading_list_information{
		text-decoration: underline;
	}
	.title_homes_guests{
		font-size: 25px;
	}
	.name_apartaments,.location_apartaments{
		font-size: 12px;
	}
	.circle_nav_mal{
		left: 85%;
		top: 15%;
		position:absolute;
		transform: rotate(270deg);
	}
}
@media( max-width:360px){
	.interest_button{
		width: 85px;
	}
	.button_nav{
		width: 98px;
		font-size: 19px;
	}
	.container_item_services{
		width: 100%;
	}
	.profile_icon::before {
		width: 80%;
	}
	.header_burger{
		margin-left: 10px;
	}
	.title_offer{
		font-size: 28px;
	}
	.profile_icon{
		width: 25px;
	}
	.night_icon{
		width: 20px;
	}
	.number_reviews{
		font-size: 12px;
	}
	.reviews,.country_hostel{
		font-size:15px ;
	}
	.name_hostel{
		font-size: 17px;
	}
	.score_profile{
		width: 40px;
		height: 27px;
	}
	.guests_reviews{
		padding: 0 5%;
	}
	.small_display{
		display: block;
		font-size: 28px;
		font-weight: 500;
		text-align: center;
		align-items: center;
		padding: 40px 0 32px 0;
	}
	.title_guests{
		display: none;
	}
	.container_registration{
		display: none;
	}
	.item_services{
		width: 50%;
	}
	h1{
		font-size: 28px;
	}
	.heading_list_information{
		font-size: 15px;
		text-decoration: underline;
	}
	.title_destinations{
		font-size: 25px;
		margin-bottom: 25px;
	}
	.title_homes_guests{
		font-size: 17px;
	}
	.name_apartaments,.location_apartaments{
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
	}
	footer{
		padding: 15% 10%;
	}
	.footer_company_logo{
		display: block;
	}
}
